.App {
  text-align: center;
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: honeydew;
}
h2,h3, p{
  margin: 0;
}
p {
  text-align: left;
  padding-left: 10px;
}
.photo {
  width: 40%;
  height: 200px;
  border: 2px solid rgb(255, 166, 0);
  border-radius: 2px;
  object-fit: cover;
  
}
.menu {
  width: 550px;
  margin: 30px;
  display: flex;
}

.title-price {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  padding-top: 0;
  border-bottom: 1px solid rgb(255, 166, 0);

}
.container {
  margin-left: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.btn {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 8px;
  margin: 3px;
  background-color: transparent;
  color: rgb(255, 166, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: rgb(211, 144, 0);
  color: #FFF;
}
.btn:focus {
  outline-color: rgb(0, 204, 255);
}

.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  
}
.underline {
  width: 50px;
  height: 2px;
  background-color: rgb(211, 144, 0);
}

.price {
  color: rgb(211, 144, 0);
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 700px){
  .App {
    width: 95vw;
  }
  .container {
    margin: 0 auto;
  }
  .btn {
    margin: 1px;
    padding: 10px 5px;
  }
}